First reading the saved table

In [62]:
import pandas as pd
df = pd.read_csv('table.csv')
df.head()

  PostalCode           Borough     Neighborhood
0        M1A      Not assigned     Not assigned
1        M2A      Not assigned     Not assigned
2        M3A        North York         Parkwood
3        M4A        North York  Victoria Villag
4        M5A  Downtown Toronto      Harbourfron

In [70]:
df.shape

(288, 3)

In [66]:
df2 = pd.read_csv('Geospatial_Coordinates.csv')
df2.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [67]:
df_merged = pd.merge(df, df2, on = 'PostalCode')
df_merged.head()

  PostalCode           Borough     Neighborhood   Latitude  Longitude
0        M3A        North York         Parkwood  43.753259 -79.329656
1        M4A        North York  Victoria Villag  43.725882 -79.315572
2        M5A  Downtown Toronto      Harbourfron  43.654260 -79.360636
3        M5A  Downtown Toronto       Regent Par  43.654260 -79.360636
4        M6A        North York  Lawrence Height  43.718518 -79.464763

In [69]:
df_merged.shape

(211, 5)